@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {

  /* Colors */
  --color-primary: #FA6E00;
  --color-background: #121212;
  --color-text: #959595;
  --color-highlighttext: #dfdfdf;
  --color-secondary: #1b1b1b;
  --color-secondarytext: #575757;
  --color-subtext: #707070;

  /* Fonts  */
  --font-lato: 'Lato', sans-serif;
  --font-k2d: 'K2D', sans-serif;
}

#root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  scroll-behavior: smooth; /* Smooth scrolling */

  height: 100dvh;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}